# Python
apps/account/client_secret.json
*/client_secret.json
*/__pycache__
apps/*/__pycache__
apps/*/*/__pycache__
config/*/__pycache__ 

# Environments
env/
.env.prod
.env.prod.db
.env.dev.db
.env
.env.db

# Git
.gitignore
.git

# Docker
.docker


# Local postgres data
data/
