asgiref
attrs
Babel
black
boto3
botocore
cachetools
certifi
cffi
click
cryptography
Deprecated
Django
drf-spectacular
django-countries
django-filter
django-money
django-phonenumber-field
django-storages
djangorestframework
djangorestframework-simplejwt
google-auth
google-auth-oauthlib
gunicorn
idna
jmespath
jsonschema
jsonschema-specifications
jwcrypto
oauthlib
packaging
pathspec
phonenumbers
psycopg2-binary
py-moneyed
pyasn1
pyasn1-modules
pycparser
python-dateutil
python-dotenv
pytz
PyYAML
requests-oauthlib
rpds-py
rsa
s3transfer
typing_extensions
uritemplate
urllib3
# uwsgi>=2.0.19.1,<2.1
